# Development Tooling
.clj-kondo/.cache
.cpcache
.nrepl-*
.idea
*.iml
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Build Artifacts
/target
/dist
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/

# Other
*.DS_Store
/checkouts/
